// Nextflow Config File

// Defining Process Requirements
process {
	executor = 'slurm'
	queue = 'epyc'
	scratch = true
}

// Enable Wave for Bioconda Containers
docker.enabled = false

wave {
	eneabled = true
}


// Enable Singularity Containerisation

//NXF_TEMP = '/mnt/scratch45/c2006576/singularity/tmp/'
//APPTAINER_TMPDIR = '/mnt/scratch45/c2006576/singularity/cache/'

apptainer {
	enabled = true
	autoMounts = true
	cacheDir = '/mnt/scratch45/c2006576/singularity/cache/'
	//runOptions = '-B $APPTAINER_TMPDIR:/tmp -B $APPTAINER_TMPDIR:/scratch'
	//envWhitelist = ['APPTAINER_TMPDIR']
}
